<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container-fluid">

    <h1 th:text="${title}"></h1>

    <form method="post" action="/cart/remove-item/">

        <div th:each="item : ${cart.items}" class="form-group">
            <input type="checkbox" name="ids" th:value="${item.uid}" th:id="${item.uid}"/>
            <label th:for="${item.uid}" th:text="${item.name + '   ' + item.price}"></label>
        </div>

        <input type="submit" value="Remove From Cart" />
    </form>

<!--    <ul>
        <li th:each="item : ${cart.items}" th:text="${item.name + '   ' + item.price}"></li>
    </ul> -->

</div>

<div class="container">
    <p th:text="${total}"></p>
</div>

</body>

</html>